<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<filter>
		<filter-name>sslFilter</filter-name>
		<filter-class>org.sagebionetworks.web.server.servlet.filter.SSLFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>sslFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- This is where we register the ServerModule containing all of the mapping 
		with Guice. -->
	<listener>
		<listener-class>org.sagebionetworks.web.server.MonitorContextListner</listener-class>
	</listener>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Monitor.html</welcome-file>
	</welcome-file-list>

</web-app>
